$def with()
<html>
 <head>
   <title>Home Page</title>
   <style>
   #container {
     text-align: center;
     width:800px;
     margin: auto;
     margin-top:100px
   }
   #sub {
     margin-top:20px
   }
   </style>
 </head>
 <body>
   <div id="container">
     <h1> Create an awesome schedule</h1>
     <p> Create your own class schedule in the blink of an eye. You can use it for university, college or high school. Just upload the data of your particular school, lean back, and let the hill climbing algorithm do the hard work. The algorithm optimizes your schedule untill there are no confilcts of interest. So no overbooked rooms, no students that have two classes at the same time, and the sequence of the sessions are always correct. Present your data in the format as the example csv-files of the master Physics of the University of Amsterdam. </p>
     <form method="POST" enctype="multipart/form-data" action="">
     <p> Upload course specifications </p>
     <input type="file" name="courses" />
     <p> Upload student specifications </p>
     <input type="file" name="students" />
     <p> Upload room specifications</p>
     <input type="file" name="rooms" />
     <br/>
     <input id="sub", type="submit" />
   </form>
  </div>
 </body>
</html>
