$def with(header, table_data, capacity_minus, student_minus, sequence_minus)
<html>
 <head>
   <title>Home Page</title>
   <style>
   #container {
     margin:auto;
   }
   </style>
 </head>
 <body>
   <div id="container">
     <h2>Congratulations you've made a schedule with:</h2>
     <ul>
       <li>$capacity_minus Capacity conflicts</li>
       <li>$student_minus Student conflicts</li>
       <li>$sequence_minus Sequence conflicts</li>
     </ul>
     <table>
      <tr>
      $for h in header:
          <th>$h</th>
      </tr>
      $for row in table_data:
          <tr>
          $for d in row:
              <td>$d</td>
          </tr>
      </table>
     <div>
 </body>
</html>
